button{
    width: 80px;
    height: 50px;
    background-color: greenyellow;
    color: darkblue;
    font-size: 35px;
    border: none;
    border-radius: 10px;
    font-weight: 600;
    margin: 2%;
}